<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <targets>
    <!--ElasticSearch Save log information-->
    <target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" index="letschess-be-${date:format=yyyy.MM.dd}" documentType="doc"  uri="http://elasticsearch:9200" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${logger} ${message} ${exception:format=toString}">
        <field name="Time" layout="${longdate}" />
        <field name="level" layout="${level:uppercase=true}" />
        <field name="logger" layout=" ${logger}" />
        <field name="message" layout=" ${message}" />
        <field name="exception" layout=" ${exception:format=toString}" />
        <field name="stacktrace" layout=" ${stacktrace}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ElasticSearch" />
  </rules>
</nlog>